body {
    font-family:Montserrat, sans-serif;
    font-weight:200;
    color: var(--tg-theme-color);
    background-color: var(--tg-theme-color);
}
img{ width: 20%;
    height: 20%;}
button {
    border: o;
    border-radius: 5px;
    margin-top: 50px;
    height: 60px;
    width: 200px;
    font-size: 20px;
    font-weight: 500;
    cursor: pointer;
    transition: all 500ms ease;
    color: var(--tg-theme-button-color);
    background-color: var(--tg-theme-button-text-color);
}

button:hover {
    background-color: var(--tg-theme-secondary-bg-color);
}
