body {
    font-family:Montserrat, sans-serif;
    font-weight:200;
    color: var(--tg-theme-text-color);
    background-color: var(--tg-theme-bg-color);
}

img{ width: 70px;
    margin:30px auto;}

button {
    border: o;
    border-radius: 5px;
    margin-top: 50px;
    height: 60px;
    width: 200px;
    font-size: 20px;
    font-weight: 500;
    cursor: pointer;
    transition: all 500ms ease
    display: flex;
    justify-content: center;
    color: var(--tg-theme-button-color);
    background-color: var(--tg-theme-button-text-color);
}

button:hover {
    background-color: var(--tg-theme-secondary-bg-color);
}
